.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 0;
}

.row {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;

  &.ng-invalid.ng-touched {
    border-color: red;
  }
}

button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
